.title {
  font-size: var(--font-large);
  font-weight: 700;
  color: var(--color-dark);

  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.top {
  margin-top: 50px;
}

.error {
  color: var(--color-error);
}

.info {
  color: #adcb28;
}
